<span class="user">
  Logged in as <a href='/users/<%=current_user.id%>'> <%=current_user.username%></a>
  <a href="/logout">Logout</a>
</span>
<div class="newsurvey">
    <a href='/surveys/new'>Create a New Survey</a>
</div>
