<div id="survey-container">
  <h1>Enter Survey Name:</h1>
  <form id="survey-submit" action="/survey" method="POST">
    <input type="text" name="survey_name" placeholder="Survey Name">
    <input type="submit">
  </form>
</div>
